
  <h1 id="1">Who is the Eiland collective?</h1>
  <p>{% include 'eilands/posts/1.html' %}</p>

  <h1 id="2">What are Eilands?</h1>
  <p>{% include 'eilands/posts/2.html' %}</p>

  <h1 id="3">Why are Eilands important??</h1>
  <p>{% include 'eilands/posts/3.html' %}</p>

  <h1 id="5">How?</h1>
  <p>{% include 'eilands/posts/5.html' %}</p>

  <h1 id="4">Database</h1>
  <p>{% include 'eilands/posts/4.html' %}</p>

  <h1 id="6">Sampling</h1>
  <p>{% include 'eilands/posts/6.html' %}</p>

  <h1 id="7">Map Sets</h1>
  <p>{% include 'eilands/posts/7.html' %}</p>

  <h1 id="8">Analysis Parameters</h1>
  <p>{% include 'eilands/posts/8.html' %}</p>

  <h1 id="9">Vocabulary</h1>
  <p>{% include 'eilands/posts/9.html' %}</p>
